<div>
    @model IEnumerable<GestionBares.Models.StandardVenta>
@{
    ViewData["Title"] = "Index";
}
@section styles{
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/buttons.dataTables.min.css" rel="stylesheet" />
}

    <div class="container-fluid">
        <h3>Standares de Ventas</h3>
        <hr />

        <p>
            <a class="btn btn-success" asp-action="Create">Nuevo Standard de Ventas</a>
        </p>
        <div>
            <form asp-action="Index">
                <input type="submit" value="Borrar TODO" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-default">Atrás</a>
            </form>
        </div>
        <div><br /></div>
        <table class="table dynamic">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Producto.Codigo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Producto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bar)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.Codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bar.Nombre)
                        </td>
                        <td class="text-right col-md-3">
                            <a data-hint="Editar" class="btn btn-default btn-sm edit hint--top hint--warning" asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-edit" aria-hidden="true"></span></a>
                            <a data-hint="Detalles" class="btn btn-info btn-sm view hint--top hint--info" asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-eye" aria-hidden="true"></span></a>
                            <a data-hint="Eliminar" class="btn btn-danger btn-sm delete hint--top hint--error" data-toggle="confirmation" data-title="Confirmar Acción" data-placement="top" data-singleton="true" asp-action="Eliminar" asp-route-id="@item.Id"><span class="fa fa-trash" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
@section scripts{
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/mbs-qdtf.js"></script>
    <script>
        $(document).ready(function () {
        });
    </script>
}
</div>