@model IEnumerable<GestionBares.Models.ControlExistencia>

@{
    ViewData["Title"] = "Lista";
}
@section styles{
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/buttons.dataTables.min.css" rel="stylesheet" />
}

<div class="container-fluid">
    <h3>Listado de Controles de Existencia</h3>
    <hr />
    <table class="table dynamic">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Dependiente</th>
                <th>Bar</th>                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <span class="hidden">@item.Fecha.Ticks</span>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>@item.Turno.Dependiente.NombreCompleto</td>
                    <td>@item.Turno.Bar.Nombre</td>
                    <td class="text-right col-md-3">
                        @if (!item.Aprobado)
                        {
                            <a data-hint="Aprobar" class="btn btn-warning btn-sm hint--top hint--warning" data-toggle="confirmation" data-title="Confirmar Acción" data-placement="top" data-singleton="true" asp-controller="AprobacionEconomia" asp-action="Aprobar" asp-route-id="@item.Id"><span class="fa fa-close" aria-hidden="true"></span></a>                            
                        }
                        <a data-hint="Detalles" class="btn btn-info btn-sm view hint--top hint--info" asp-action="ConsumoEnTurno" asp-route-id="@item.TurnoId"><span class="fa fa-eye" aria-hidden="true"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/mbs-qdtf.js"></script>
    <script>
        $(document).ready(function () {
        });
    </script>
}