@model IEnumerable<GestionBares.ViewModels.SolicitudVM>

@{
    ViewData["Title"] = "Solicitudes";
}
@section styles{
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/buttons.dataTables.min.css" rel="stylesheet" />
}

<div class="container-fluid">
    <h3>Listado de solicitudes</h3>
    <hr />

    <table class="table dynamic">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Producto)
                </th>               
                @foreach (var item in ViewBag.Bares)
                {
                    <th>
                        @item
                    </th>
                }
                <th>Total</th>
                <th>En Almacen</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto)
                    </td>
                @foreach (var bar in ViewBag.Bares)
                {
                    <th>
                        @(item.Bares.Any(b => b.Bar == bar)?item.Bares.SingleOrDefault(b => b.Bar == bar).Cantidad:0)
                    </th>
                }
                    <td>                        
                        <span >@item.Bares.Sum(b => b.Cantidad)</span>
                    </td>
                @{
                            var clase = "";
                            if (item.Bares.Sum(b => b.Cantidad) > item.EnAlmacen) {clase = "danger";}
                            else {clase = "success";}
                        }
                    <td class="bg bg-@clase">
                        
                        <span>@item.EnAlmacen</span>
                    </td>
                    <td class="text-right col-md-3">
                        <a data-hint="Atender" class="btn btn-primary btn-sm atender hint--top hint--success" data-toggle="confirmation" data-title="Confirmar Acción" data-placement="top" data-singleton="true" asp-action="AtenderVentas" asp-route-id="@item.ProductoId"><span class="fa fa-check" aria-hidden="true"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/mbs-qdtf.js"></script>
    <script>
        $(document).ready(function () {
        });
    </script>
}